@model TripTracker.BackService.Models.Trip

@if (Model != null)
{
<input type="hidden" asp-for="Id" />
}

<div class="form-group">
	<label asp-for="Name" class="control-label"></label>
	<input asp-for="Name" class="form-control" />
	<span asp-validation-for="Name" danger=""></span>
</div>
<div class="form-group">
	<label asp-for="StartDate" class="control-label"></label>
	<input asp-for="StartDate" class="form-control" />
	<span asp-validation-for="StartDate" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="EndDate" class="control-label"></label>
	<input asp-for="EndDate" class="form-control" />
	<span asp-validation-for="EndDate" class="text-danger"></span>
</div>